*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #e8f0fe;
    padding: 40px;
}

.box{
    display: inline-block;
}

.large-box{
    width: 40%;
    height: 200px;
    background-color: white;
    border-radius: 20px;
    margin: 20px;
}

.content{
    /* display: inline-block; */
    width: 30%;
    height: 150px;
    background-color: yellow;
    margin: 25px 5%;
}

/* .left-content{
    float: left;
}

.right-content{
    float: right;
} */

#current-temperature{
    font-weight: normal;
}